<div class="form-group mb-4">
    <label for="title">Title</label>
    <!-- value is use to fill the block with previously entered date  -->
    <input value="<%= article.title %>" type="text" name="title" id="title" class="form-control" required />
</div>
<div class="form-group mb-4">
    <label for="description">description</label>
    <textarea name="description" id="description" class="form-control" required><%= article.description %></textarea>
</div>
<div class="form-group mb-4">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control" required><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancle</a>
<button type="submit" class="btn btn-primary">Save</button>
